<div class="main-container">
  <div class="container">
    <div class="registro-marco">
      <!-- Sección del Formulario -->
      <div class="form-container">
        <p class="form-title">Ingreso de Carreras</p>
        <form (ngSubmit)="agregarCarrera()">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" [(ngModel)]="nuevaCarrera.nombre" name="nombre" class="input-rounded" required>
          </div>
          <div class="form-group">
            <label for="coordinacion">Coordinación:</label>
            <input type="text" id="coordinacion" [(ngModel)]="nuevaCarrera.coordinacion" name="coordinacion" class="input-rounded" required>
          </div>
          <div class="form-group">
            <label for="periodoInicio">Periodo Inicio:</label>
            <input type="month" id="periodoInicio" [(ngModel)]="nuevaCarrera.periodoInicio" name="periodoInicio" class="input-rounded" required>
          </div>
          <div class="form-group">
            <label for="periodoFin">Periodo Fin:</label>
            <input type="month" id="periodoFin" [(ngModel)]="nuevaCarrera.periodoFin" name="periodoFin" class="input-rounded" required>
          </div>
          <div class="form-group">
            <label for="director">Director:</label>
            <input type="text" id="director" [(ngModel)]="nuevaCarrera.director" name="director" class="input-rounded" required>
          </div>
          <button type="submit" class="button-agregar">Agregar</button>
        </form>
      </div>

      <!-- Sección de la Tabla -->
      <div class="table-container">
        <p class="list-title">Lista de Carreras</p>
        <table class="evaluation-table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Coordinación</th>
              <th>Periodo</th>
              <th>Director</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let carrera of carreras">
              <td>{{ carrera.nombre }}</td>
              <td>{{ carrera.coordinacion }}</td>
              <td>{{ carrera.periodo }}</td>
              <td>{{ carrera.director }}</td>
              <td>
                <button class="editar-button" (click)="editarCarrera(carrera)">Editar</button>
                <button class="eliminar-button" (click)="eliminarCarrera(carrera)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
