<div class="main-container">
  <div class="container">
    <div class="form-container">
      <p class="form-title">Ingreso de Unidad</p>
      <form #form="ngForm" (ngSubmit)="agregarUnidad(form)">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input
            type="text"
            id="nombre"
            [(ngModel)]="nuevaUnidad.nombre"
            name="nombre"
            class="input-rounded"
            required
          />
        </div>
        <div class="form-group">
          <label for="coordinacion">Coordinación:</label>
          <input
            type="text"
            id="coordinacion"
            [(ngModel)]="nuevaUnidad.coordinacion"
            name="coordinacion"
            class="input-rounded"
            required
          />
        </div>
        <div class="form-group">
          <label for="director">Director:</label>
          <input
            type="text"
            id="director"
            [(ngModel)]="nuevaUnidad.director"
            name="director"
            class="input-rounded"
            required
          />
        </div>
        <button type="submit" class="button-agregar">Agregar Unidad</button>
      </form>
    </div>

    <div class="table-container">
      <p class="list-title">Lista de Unidades</p>
      <table class="evaluation-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Coordinación</th>
            <th>Director</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unidad of unidades">
            <td>{{ unidad.nombre }}</td>
            <td>{{ unidad.coordinacion }}</td>
            <td>{{ unidad.director }}</td>
            <td>
              <button (click)="confirmarEliminacion(unidad)" class="eliminar-button">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
