<p>doc-unidad works!</p>
<div class="container">
    <table>
        <tr>
            <td colspan="3" class="header">Carrera: Desarrollo de Software<br>Año: 2024</td>
        </tr>
        <tr>
            <td>Objetivo Estrategico:</td>
            <td colspan="2"><input type="text"></td>
        </tr>
        <tr>
            <td><button>+</button> Estrategia:</td>
            <td colspan="2"><input type="text"></td>
        </tr>
        <tr>
            <td><button>+</button> Objetivo Operativo:</td>
            <td colspan="2"><input type="text"></td>
        </tr>
        <tr>
            <th>Actividades</th>
            <th>Responsable</th>
            <th>Entregable</th>
            <th>Plazo</th>
            <th>Meta %</th>
            <th>Recursos Financieros</th>
        </tr>
        <tr>
            <td>1</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text" value="100%"></td>
            <td>
                <table>
                    <tr>
                        <td>ISTA</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Autogestión</td>
                        <td><input type="text"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text" value="100%"></td>
            <td>
                <table>
                    <tr>
                        <td>ISTA</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Autogestión</td>
                        <td><input type="text"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text"></td>
            <td><input type="text" value="100%"></td>
            <td>
                <table>
                    <tr>
                        <td>ISTA</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Autogestión</td>
                        <td><input type="text"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
