<div class="table-container">
  <p class="rojo">Poa de la Unidad</p>

  <div class="half-table-container">
    <table class="evaluation-table">
      <tr>
        <td colspan="3">
          <div class="info-container">
            <div class="info-left">
              <label for="unidadInput">Unidad:</label>
              <input type="text" id="unidadInput" class="input-rounded" [(ngModel)]="unidad" placeholder="Ingrese la unidad...">
            </div>
            <div class="info-right">
              <label for="periodoInput">Periodo:</label>
              <input type="text" id="periodoInput" class="input-rounded" [(ngModel)]="periodo" placeholder="Ingrese el periodo...">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="label-cell">Objetivo Estratégico:</td>
        <td colspan="2"><input type="text" [(ngModel)]="proyecto.objetivo_estrategico" class="input-rounded full-width"></td>
      </tr>
      <tr>
        <td class="label-cell">Estrategia:</td>
        <td><input type="text" [(ngModel)]="proyecto.estrategia" class="input-rounded full-width"></td>
        <td><button id="nuevoButton">Nuevo</button></td>
      </tr>
    </table>
  </div>

  <div class="button-group">
    <button class="edit-button">EDITAR</button>
    <button class="crear-guardar-button" (click)="saveObjetivoOperativo()">GUARDAR</button>
  </div>

  <div *ngFor="let section of sections; let sectionIndex = index">
    <div class="half-table-container">
      <table class="evaluation-table">
        <tr>
          <td class="label-cell">Estrategia:</td>
          <td><input type="text" [(ngModel)]="section.estrategia" class="input-rounded full-width"></td>
          <td><button (click)="removeSection(sectionIndex)">Eliminar Sección</button></td>
        </tr>
        <tr>
          <td class="label-cell">Objetivo Operativo:</td>
          <td><input type="text" [(ngModel)]="section.objetivoOperativo" class="input-rounded full-width"></td>
          <td><button (click)="addRow()">Actividades</button></td>
        </tr>
      </table>
    </div>

    <table class="table-design" id="actividadesTable">
      <thead>
        <tr>
          <th>#</th>
          <th>Actividades</th>
          <th>Responsable</th>
          <th>Plazo</th>
          <th>Evidencia</th>
          <th>Meta %</th>
          <th>Recursos Financieros</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of section.rows; let i = index">
          <td>{{ row.counter }}</td>
          <td><input type="text" id="actividadDescripcion{{row.counter}}" class="input-rounded full-width"></td>
          <td><input type="text" id="actividadResponsable{{row.counter}}" class="input-rounded full-width"></td>
          <td><input type="date" id="actividadPlazo{{row.counter}}" class="input-rounded full-width"></td>
          <td>
            <label for="fileInput{{row.counter}}" class="file-input-label">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19.5 12c-2.483 0-4.5 2.015-4.5 4.5s2.017 4.5 4.5 4.5 4.5-2.015 4.5-4.5-2.017-4.5-4.5-4.5zm2.404 6.906l-2.125-2.125-.971.967-.963-.967-2.125 2.125-.896-.896 2.125-2.125-.963-.967.963-.967 2.125-2.125.896.896-2.125 2.125.963.967-.963.967 2.125 2.125-.896.896zm-17.404-.406v-8h4v-4h8v4.04c.653-.026 1.311.036 1.959.186l.041-4.226-6-6h-10v12h2zm10-14.586l4.586 4.586h-4.586v-4.586zm-2.451 12.89l1.949 2.162 2.482-3.31 3.02 4.033h-11.001v-6.179l3.55 3.294z"/>
              </svg>
            </label>
            <input type="file" id="fileInput{{row.counter}}" class="file-input">
          </td>
          <td><input type="number" id="actividadMeta{{row.counter}}" class="input-rounded full-width"></td>
          <td>
            <input type="number" id="actividadRecFinIsta{{row.counter}}" class="input-rounded full-width" placeholder="Rec. Ista">
            <input type="number" id="actividadRecFinAutogestion{{row.counter}}" class="input-rounded full-width" placeholder="Rec. Autogestión">
          </td>
          <td><button (click)="removeRow(sectionIndex, i)">-</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
