/* Estilos para el contenedor principal */
.table-container {
  width: 97%;
  height: 100%;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
}

/* Estilos para el encabezado */
.header {
  background-color: rgb(226, 68, 68);
  color: #fff;
  width: 100%;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  font-weight: bold;
  padding: 10px 20px;
}

/* Estilos para el título rojo */
.table-container .rojo {
  background-color: rgb(38, 38, 228);
  color: #fff;
  width: 100%;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
}

/* Estilos para las tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Estilos para las celdas de la tabla */
table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Estilos para los encabezados de la tabla */
table th {
  background-color: #f2f2f2;
  color: #333;
}

/* Estilos para filas impares de la tabla */
table tbody tr:nth-child(odd) {
  background-color: #f2f8ff;
}

/* Estilos hover para filas de la tabla */
table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Estilos para los botones */
button {
  background-color: rgb(67, 164, 255); /* Azul */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin-bottom: 5px;
}

/* Estilos para campos de entrada redondeados */
.input-rounded {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}

/* Estilos para botones save, edit and delete */
.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.crear-guardar-button {
  background-color: rgb(54, 71, 226);
  margin-left: 10px;
}

.edit-button {
  background-color: rgb(54, 169, 226);
  margin-right: 10px;
}

.delete-button {
  background-color: rgb(213, 42, 42);
}

/* Estilos para la primera mitad de la tabla */
.half-table-container {
  width: 105%;
}

.info-container {
  text-align: center;
  margin-top: 10px; /* Espacio entre la información y la tabla */
}

.info-left, .info-right {
  display: inline-block; 
  margin-left: 20px; 
}

.file-input-label {
  display: inline-block;
  padding: 16px 30px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.file-input-label:hover {
  background-color: #5a9de4;
}

.file-input-label svg {
  width: 2em; /* Ajusta el tamaño del SVG */
  height: 2em;
}

.input-file {
  display: none; /* Ocultar el input de tipo file */
}

.campo-container {
  flex-wrap: wrap;
}

/* Estilos para la etiqueta de las celdas */
.label-cell {
  width: 20%; /* Ajusta este valor según tus necesidades */
}

/* Asegurarse de que los campos de entrada ocupen todo el espacio disponible */
.full-width {
  width: calc(100% - 10px); /* Ajuste para evitar desbordamientos */
}
