<div class="main-container">
        <div class="container">
          <!-- Sección del Gráfico de Barras -->
          <div class="chart-container">
            <p class="chart-title">Estadísticas de Valores</p>
            <canvas id="estadisticasChart"></canvas>
          </div>
      
          <!-- Sección del Gráfico de Pastel -->
          <div class="pie-chart-container">
            <p class="pie-chart-title">Distribución</p>
            <canvas id="pieChart"></canvas>
          </div>
        </div>
      </div>
      