<body>
  <div class="main-container">
    <h2 class="title">Plantilla de gestión por resultados</h2>
    <h2 class="subtitle">de la Comisión | Carrera | Jefatura de (Nombre)</h2>
    
    <div class="table-container">
      <table class="table1">
        <thead>
          <tr class="main">
            <th colspan="5">Actividades</th>
            <th colspan="2">Producto finales</th>
            <th colspan="3">Costo/Horas</th>
          </tr>
          <tr class="submain">
            <th>Estado</th>
            <th>Prioridad</th>
            <th>Fecha de entrega</th>
            <th>Tarea</th>
            <th>Docente Responsable</th>
            <th>Descripción</th>
            <th>Entregable</th>
            <th>Ejecutado</th>
            <th>Costos fijos</th>
            <th>Horas estimadas</th>
            <th>Horas actuales</th>
            <th>Observación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3" class="strategy">ESTRATEGIA 1</td>
            <td colspan="9" class="strategy">Objetivo operativo 1</td>                
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="myCheckbox1">
              <label for="myCheckbox1"></label>
            </td>
            <td>Alta</td>
            <td>05/08/2024</td>
            <td>Actividad 1</td>
            <td></td>
            <td>Detalles de la tarea aquí</td>
            <td>Evidencia</td>
            <td class="medium">50%</td>
            <td>$-</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="myCheckbox2">
              <label for="myCheckbox2"></label>
            </td>
            <td>Media</td>
            <td>27/08/2024</td>
            <td>Actividad 2</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="medium">50%</td>
            <td>$-</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="myCheckbox3">
              <label for="myCheckbox3"></label>
            </td>
            <td>Baja</td>
            <td>02/09/2024</td>
            <td>Actividad 3</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="down">45%</td>
            <td>$-</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="3" class="strategy"></td>
            <td colspan="9" class="strategy">Objetivo operativo 2</td>                
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="myCheckbox4">
              <label for="myCheckbox4"></label>
            </td>
            <td>Alta</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="up">100%</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="myCheckbox5">
              <label for="myCheckbox5"></label>
            </td>
            <td>Alta</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="none"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="myCheckbox6">
              <label for="myCheckbox6"></label>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="none"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <table class="table2">
        <thead>
          <tr class="main">
            <th>INDICADORES</th>
            <th>N. IND</th>
            <th>%</th>
          </tr>
          <tr>
            <th class="up">VERDE</th>
            <th>1</th>
            <th>25%</th>
          </tr>
          <tr>
            <th class="medium">AMARILLO</th>
            <th>2</th>
            <th>50%</th>
          </tr>
          <tr>
            <th class="down">CAFE</th>
            <th>1</th>
            <th>25%</th>
          </tr>
          <tr>
            <th class="none">ROJO</th>
            <th>0</th>
            <th>0%</th>
          </tr>
          <tr class="total">
            <th>TOTAL</th>
            <th>4</th>
            <th>100%</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="chart-container">
      <canvas id="myPieChart"></canvas>
    </div>
  </div>
</body>
