<div class="contenido-menu">
  <div class="menu-container">
    <p class="menu1">Menu Sistema POA</p>
    <ul>
      <details>
        <summary>ADMIN</summary>
       
        <li>
          <button routerLink="/app/registro-carreras" routerLinkActive="underline" (click)="activateButton($event)">
            📋 Registrar Carreras
          </button>
        </li>
   
        <li>
          <button routerLink="/app/registro-unidad" routerLinkActive="underline" (click)="activateButton($event)">
            📋 Registrar Unidaddes
          </button>
        </li>
        <li>
          <button routerLink="/app/registro-carreras" routerLinkActive="underline" (click)="activateButton($event)">
            📋 Registrar Docentes
          </button>
        </li>
      </details>
      <details>
        <summary>Catálogos</summary>
        <li>
          <button routerLinkActive="underline" [routerLinkActiveOptions]="{ exact: true }" routerLink="/app/unidad" (click)="activateButton($event)">
            📁 Unidad
          </button>
        </li>
        <li>
          <button routerLink="/app/producto" routerLinkActive="underline" (click)="activateButton($event)">
            🛒 Carrera
          </button>
        </li>
      </details>
      <details>
        <summary>Evaluacion</summary>
        <li>
          <button routerLink="/app/evaluacion" routerLinkActive="underline" (click)="activateButton($event)">
            📝 Registro de Evaluadoror
          </button>
        </li>
        <li>
          <button routerLink="/app/lista-factura" routerLinkActive="underline" (click)="activateButton($event)">
            📋 Ver reportes
          </button>
        </li>
      </details>
    </ul>
  </div>
  <button class="salir" (click)="salir()">✖️ Salir</button>
</div>
<router-outlet></router-outlet>
