<div class="contenido-menu">
  <div class="menu-container">
    <p class="menu1">MENU</p>
    <ul>
      <details>
        <summary>ADMIN</summary>

        <li>
          <button routerLink="/app/usuarios" routerLinkActive="underline" (click)="activateButton($event)">
            📝 Lista de Usuarios
          </button>
        </li>
        <li>
          <button routerLink="/app/registro-carreras" routerLinkActive="underline" (click)="activateButton($event)">
            🎓Registro Carreras
          </button>
        </li>
        <li>
          <button routerLink="/app/registro-unidad" routerLinkActive="underline" (click)="activateButton($event)">
            📚Registro Unidad
          </button>
        </li>
        <li>
          <button routerLink="/app/registro-carreras" routerLinkActive="underline" (click)="activateButton($event)">
            👩‍🏫Registro Docente
          </button>
        </li>
      </details>
      <details>
        <summary>Catálogos</summary>
        <li>
          <button routerLinkActive="underline" [routerLinkActiveOptions]="{ exact: true }" routerLink="/app/unidad" (click)="activateButton($event)">
            📁 Unidad
          </button>
        </li>
        <li>
          <button routerLink="/app/producto" routerLinkActive="underline" (click)="activateButton($event)">
            🎓 Carrera
          </button>
        </li>
      </details>
      <details>
        <summary>Evaluación</summary>
        <li>
          <button routerLink="/app/evaluacion" routerLinkActive="underline" (click)="activateButton($event)">
            📝Lista Evaluador
          </button>
        </li>
        <li>
          <button routerLink="/app/lista-factura" routerLinkActive="underline" (click)="activateButton($event)">
            📋 Ver reportes
          </button>
        </li>
      </details>
    </ul>
  </div>
  <button class="salir" (click)="salir()">✖️ Salir</button>
</div>
<router-outlet></router-outlet>
