<div class="contenido-menu">
  <div class="menu-container">
    <p class="facturacion1">Menu Sistema POA</p>
    <ul>

      <details>
        <summary>ADMIN</summary>
        <li>
          <button routerLink="/app/cliente" routerLinkActive="underline">
            📝 Docentes
          </button>
        </li>
        <li>

          <button routerLink="/app/cliente" routerLinkActive="underline">
            📋 Registrar Evaluador
          </button>
        </li>
   
      </details>
      <details>
        <summary>Catálogos</summary>
        <li>
          <button routerLinkActive="underline" [routerLinkActiveOptions]="{ exact: true }" routerLink="/app/cliente">
            📁 Unidad
          </button>
        </li>
        <li>
          <button routerLink="/app/producto" routerLinkActive="underline">
            🛒 Carrera
          </button>
        </li>
      </details>

      <details>
        <summary>Evaluacion</summary>
        <li>
          <button routerLink="/app/evaluacion" routerLinkActive="underline">
            📝 Registro de Evaluadores
          </button>
        </li>
        <li>
          <button routerLink="/app/lista-factura" routerLinkActive="underline">
            📋 Ver reportes
          </button>
        </li>
      </details>


    </ul>

  </div>
  <button class="salir" (click)="salir()">✖️ Salir</button>

</div>
<router-outlet></router-outlet>